<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="{{ url('static', filename='css/style.css') }}" />
</head>

<body>
    <h3>{{ title }}</h3>

    <div style="
        position: sticky;
        top: 0;
        background: var(--tg-theme-bg-color);
        padding: 8px 0;
        z-index: 100;
      ">
        <button id="save-btn">✖️ Закрыть</button>
    </div>

    <div id="tasks-container">
        {% for task in tasks %}
        <div class="task">
            <label class="task-label">
                <div class="task-header">
                    <input type="checkbox" class="checkbox" data-id="{{ task.source_id }}" {% if task.checked
                        %}checked{% endif %}>                    
                </div>
                <img src="{{ url('previews', filename='preview_' ~ task.source_id ~ '.png') }}" class="task-image">
            </label>
        </div>
        {% endfor %}
    </div>

    <div class="footer">Отметьте нужные задачи и нажмите «Сохранить».</div>

    <!-- Передаем данные из Jinja2 в JS -->
    <script>
        window.serverConfig = {
            position: "{{ position }}",
            initData: window.Telegram.WebApp.initData,
        };
    </script>

    <script>
        // Пробрасываем переменную из Jinja2 в глобальное пространство JS
        window.APP_CONFIG = {
            position: parseInt("{{ position|default(0) }}"),
        };
    </script>
    <script src="{{ url('static', filename='js/app.js') }}"></script>
</body>

</html>